h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 200;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: initial;
    font-weight: 200;
}